@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Utah Online University</h1>
</div>
<div class="text-center">
    <img class="mainPageImage" src="~/images/graduation-cropped.jpg" alt="image" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            Utah Online University is an all online university.  We offer many different types of online degrees from Cooking to Computer Science
        </p>
    </div>
    <div class="col-md-4">
        <h2>Classes</h2>
        <p>We offer plenty of classes that teach you what you need to know to be successfull</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Courses" asp-action="Index">See Our Classes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>Looking for a specific department?  View our department list and contacts</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Departments" asp-action="Index">See Departments &raquo;</a></p>
    </div>
</div>