/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Inter|Lora|Shadows+Into+Light&display=swap');

/* Fonts to use 
    font-family: 'Inter', sans-serif;               // Normal text
    font-family: 'Lora', serif;                    // Headings/titles
    font-family: 'Shadows Into Light', cursive;   // For fancy handwritten stuff
*/

/* Colors 
    Main text: #222222
    Main blue: #1B6EC2
    Off blue: #639FAB
    Light blue: #BBCDE5
*/

/******* My Code **********/
.mainPageImage {
    max-width: 100%;
    overflow:hidden;
    margin: auto;
}

main {
    background: #BBCDE5;
    padding: 0px 10px 0px 10px;
}

.navbar-brand {
    font-size: 2vw;
}

.jumbotron {
    background: #639FAB;
    padding: 10px;
}

h1, h2 {
    font-size: 4vw;
    color: white;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
}

h2 {
    font-size: 2vw;
}

p {
    font-family: 'Inter', sans-serif;
    color: #222222;
}

a {
    color: #D16014 !important;
}

.nav-item {
    background:#1B6EC2 ;
    border-radius: 15px;
    margin: 3px;
    color: white !important;
}

nav .nav-item li a {
    color: white;
}

table {
    background: white;

}

th {
    padding: 5px;
    text-align: center;
}

td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff !important;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

